<!DOCTYPE html>
<html>

<head>
        <title>
                <%=title%>
        </title>

        <%- include("../_header") -%>
</head>

<%- include("_menu") -%>

<div>
        <%- include('adiciona') -%>
</div>


<%- include('tabelaClientes') -%>

</div>
</body>

</html>