<!DOCTYPE html>
<html>

<head>
<title><%=title%></title>
<%- include("../_header") -%>
</head>

<%- include("_menu") -%>

<%- include('tabelaClientes') -%>

<div>
<%- include('adiciona') -%>
</div>
</div> 
</body>
</html>